<div id="poliEs">
	<div class="c-content-title-2 c-title-md">
		<h3 class="c-center c-font-uppercase c-font-bold c-theme-font">POLÍTICAS DE RESERVACIÓN PARA INDIVIDUALES</h3>
		<div class="c-line c-dot c-dot-square c-bg-blue c-bg-after-blue"></div>
	</div>	
	<p>
		<strong>Para que su reservación sea confirmada deberá realizar lo siguiente:</strong>		
	</p>
	<ol>
		<li>
			Llenar su formato de reservación, sin olvidar atender las políticas marcadas. 
		</li>
		<li>
			Realizar el pago de su estancia completa, en alguna de las siguientes formas de pago:
			<blockquote class="c-margin-t-5">
				<h4>FORMAS DE PAGO / DATOS BANCARIOS</h4>
				<ul class="list-unstyled c-margin-t-10">
					<li>Depósito en <strong>PESOS MEXICANOS</strong> a nombre de Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANCO: BBVA Bancomer</li>
					<li>
						No. Cuenta: 0447334168
					</li>
					<li>
						Plaza/Branch:  001 Suc.0843
					</li>
					<li>
						Cuenta Clabe :  012 180 004 473 341 682.	
					</li>
				</ul>
				<ul class="list-unstyled c-margin-t-10">
					<li>Depósito en <strong>USD</strong> a nombre de Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANCO: BBVA Bancomer</li>
					<li>No. Cuenta: 0142854783</li>
					<li>Plaza/Branch:  001 Suc.0843</li>
					<li>Cuenta Clave : 012 180 0014 28 54783 2</li>
					<li>SWIFT: BCMRMXMM</li>
				</ul>
				<p class="c-margin-t-15">
					Tarjetas de crédito Visa, Master Card y American Express: llamando a los Ph: + 52 51 48 75 00 ex.7569
				</p>
			</blockquote>
		</li>
		<li>
			Enviar el comprobante de pago especificando su nombre y el nombre del evento:
			<ul class="list-unstyled">
				<li>Por correo electrónico: <a href="mailto:caguirre@tcevents.com" class="c-theme-font">caguirre@tcevents.com</a></li>
			</ul>
		</li>
		<li>
			Las noches adicionales deberán ser liquidadas directamente al hotel 	
		</li>
		<li>
			Sólo se aceptarán cancelaciones por escrito hasta el <strong>02 de enero de 2018</strong> haciendo el reembolso del depósito recibido. En caso de no realizar este trámite, se hará el cargo por concepto de cancelación extemporánea (estancia completa). 
		</li>
		<li>
			A partir del <strong>03 de enero de 2018</strong> cualquier cancelación aplicará el cargo de la estancia completa.
		</li>
		<li>En caso de salidas anticipadas se realizará el cargo de la estancia completa</li>
		<li><strong>No Show:</strong> Si usted no se presenta en el hotel en la fecha indicada, causará la cancelación de su reservación y el cargo de la estancia completa.</li>
		<li>Favor de enviarnos su número telefónico o e-mail para dudas y/o aclaraciones.</li>
	</ol>
	<div class="c-content-title-2 c-title-md c-margin-t-40">
		<h3 class="c-center c-font-uppercase c-font-bold c-theme-font">POLÍTICAS DE RESERVACIÓN PARA GRUPOS</h3>
		<div class="c-line c-dot c-dot-square c-bg-blue c-bg-after-blue"></div>
	</div>
	<p>
		<strong>Para que su reservación sea confirmada deberá realizar lo siguiente:</strong>
	</p>
	<ol class="c-margin-b-30">
		<li>Solicitar bloqueo, especificando el número de habitaciones requeridas. </li>
		<li>Realizar el pago del 50% del total del bloqueo de habitaciones en alguna de las siguientes formas de pago:</li>
		<li>
			Realizar el pago de su estancia completa, en alguna de las siguientes formas de pago:
			<blockquote class="c-margin-t-5">
				<h4>FORMAS DE PAGO / DATOS BANCARIOS</h4>
				<ul class="list-unstyled c-margin-t-10">
					<li>Depósito en <strong>PESOS MEXICANOS</strong> a nombre de Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANCO: BBVA Bancomer</li>
					<li>
						No. Cuenta: 0447334168
					</li>
					<li>
						Plaza/Branch:  001 Suc.0843
					</li>
					<li>
						Cuenta Clabe :  012 180 004 473 341 682.	
					</li>
				</ul>
				<ul class="list-unstyled c-margin-t-10">
					<li>Depósito en <strong>USD</strong> a nombre de Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANCO: BBVA Bancomer</li>
					<li>No. Cuenta: 0142854783</li>
					<li>Plaza/Branch:  001 Suc.0843</li>
					<li>Cuenta Clave : 012 180 0014 28 54783 2</li>
					<li>SWIFT: BCMRMXMM</li>
				</ul>
			</blockquote>
		</li>
		<li>
			Enviar el comprobante de pago especificando su nombre y el nombre del evento:
			<ul class="list-unstyled">
				<li>Por correo electrónico: <a href="mailto:caguirre@tcevents.com">caguirre@tcevents.com</a></li>
				<li><ins>Posteriormente llamar a los tels. 52 (55) 51 48 75 11</ins> para confirmar recepción y recibir su número de reservación.</li>
			</ul>
		</li>
		<li>
			El saldo restante deberá liquidarlo el <strong>02 de enero de 2018</strong>
		</li>
		<li>
			La fecha límite para recibir el rooming list será hasta el <strong>23 de abril de 2018</strong>
		</li>
		<li>
			Sólo se aceptarán cancelaciones por escrito y no mayores al <strong>5% del bloqueo original hasta el 02 de enero de 2018</strong>  haciendo el reembolso correspondiente. En caso de no realizar el trámite, se hará el cargo por concepto de cancelación extemporánea (100% del pago realizado)
		</li>
		<li>
			Sólo se aceptarán cambios de fecha por escrito, hasta el <strong>02 de enero de 2018</strong> posteriormente a esta fecha no se aceptarán cambios.
		</li>
		<li>
			En caso de salidas anticipadas se realizará el cargo de la estancia completa.
		</li>
		<li>
			<strong>No Show:</strong> Si usted no se presenta en el hotel en la fecha indicada, causará la cancelación de su reservación y el cargo de la estancia completa
		</li>
		<li>
			Favor de enviarnos su número telefónico o e-mail para dudas y/o aclaraciones.
		</li>
	</ol>		
</div>
<div id="contacEs">

</div>