<div id="poliEs">
	<div class="c-content-title-2 c-title-md">
		<h3 class="c-center c-font-uppercase c-font-bold c-theme-font">RESERVATION POLICIES FOR INDIVIDUALS</h3>
		<div class="c-line c-dot c-dot-square c-bg-blue c-bg-after-blue"></div>
	</div>
	<p>
		<strong>In order for your reservation to be confirmed, you must do the following:</strong>
	</p>		
	<ol>
		<li>Fill in your reservation format, not forgetting to meet the policies marked.</li>
		<li>The payment of your entire stay has to be payed, in any of the following payment methods:
			<blockquote class="c-margin-t-5">
				<h4>FORMS OF PAYMENT / BANK DEPOSIT</h4>
				<ul  class="list-unstyled c-margin-t-10">
					<li>
						<li><strong>Deposit in mexican pesos (MXN)</strong></li>
						<li>Account name: Turismo y Convenciones, S.A. de C.V.</li>
						<li>BANK: BBVA Bancomer</li>
						<li>Account No.: 0447334168</li>
						<li>Plaza/Branch: 001 Suc.0843</li>
						<li>CLABE: 012 180 004 473 341 682</li>
					</li>
				</ul>
				<ul class="list-unstyled c-margin-t-10">
					<li><strong>Deposit in USD</strong> under the name of Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANK: BBVA Bancomer</li>
					<li>Account No.: 0142854783</li>
					<li>Plaza/Branch: 001 Suc.0843</li>
					<li>Account Key: 012 180 0014 28 54783 2</li>
					<li>SWIFT: BCMRMXMM</li>
				</ul>
				<p class="c-margin-t-15">
					Visa, Master Card and American Express credit cards: Please call: + 52 51 48 75 00 Ext.7569
				</p>
			</blockquote>
		</li>
		<li>
			Please, send the proof of payment specifying your name and the name of the event:
			<ul class="list-unstyled">
				<li>
					By email at: <a href="mailto:caguirre@tcevents.com" class="c-theme-font">caguirre@tcevents.com</a>
				</li>
			</ul>
		</li>
		<li>
			Additional nights must be paid directly to the hotel.
		</li>
		<li>
			Cancellations will only be accepted by writing until <strong>December 3rd, 2017</strong> by making the refund of the deposit received. In case of not performing this process, the charge for cancellation will be made extemporaneous (entire stay).
		</li>
		<li>
			Only name or date changes will be accepted in writing, until December 3rd,2017 after this date no changes will be accepted.
		</li>
		<li>
			As of <strong>January 3rd, 2018</strong>, any cancellation will be charged the entire stay.
		</li>
		<li>
			In case of early departures, the entire stay will be charged.
		</li>
		<li><strong>No Show:</strong> If you do not show up at the hotel on the indicated date, it will cause the cancellation of your reservation and the entire stay charge.</li>
		<li>Please send us your phone number or e-mail for questions and / or clarifications to</li>
	</ol>
	<div class="c-content-title-2 c-title-md c-margin-t-40">
		<h3 class="c-center c-font-uppercase c-font-bold c-theme-font">GROUP BOOKING POLICIES:</h3>
		<div class="c-line c-dot c-dot-square c-bg-blue c-bg-after-blue"></div>
	</div>
	<p>
		<strong>In order your reservation to be confirmed, you must do the following:</strong>
	</p>
	<ol class="c-margin-b-30">
		<li>Request room blocking, specifying the number of rooms required.</li>
		<li>
		Make the payment of 50% of the total blocking of rooms in any of the following payment methods:
			<blockquote class="c-margin-t-5">
				<ul  class="list-unstyled c-margin-t-10">
					<li>
						<li><strong>Deposit in mexican pesos (MXN)</strong></li>
						<li>Account name: Turismo y Convenciones, S.A. de C.V.</li>
						<li>BANK: BBVA Bancomer</li>
						<li>Account No.: 0447334168</li>
						<li>Plaza/Branch: 001 Suc.0843</li>
						<li>CLABE: 012 180 004 473 341 682</li>
					</li>
				</ul>
				<ul class="list-unstyled c-margin-t-10">
					<li><strong>Deposit in USD</strong> under the name of Turismo y Convenciones, S.A. de C.V.</li>
					<li>BANK: BBVA Bancomer</li>
					<li>Account No.: 0142854783</li>
					<li>Plaza/Branch: 001 Suc.0843</li>
					<li>Account Key: 012 180 0014 28 54783 2</li>
					<li>SWIFT: BCMRMXMM</li>
				</ul>
			</blockquote>			
		</li>
		<li>Please, send the deposit-wire receipt specifying its name and the name of the event:
		<ul class="list-unstyled">
			<li>By email at:<a href="mailto:caguirre@tcevents.com">caguirre@tcevents.com</a></li>
			<li><nis>After that, please call at +52 (55) 5148 7511</nis> to confirm your payment has been received and to get your reservation number.</li>
		</ul>
		</li>
		<li>
			The remaining balance must be settled on <strong>December 3rd, 2017</strong>
		</li>
		<li>
			The deadline to receive the rooming list will be until <strong>April 23rd, 2018</strong>
		</li>
		<li>
			Only cancellations in writing and that not exceed more than the <strong>5% of the original room block will be accepted until December 3rd, 2018</strong> by making the corresponding reimbursement. In case of not performing the procedure, the charge will be made for extemporaneous cancellation (100% of the payment made).
		</li>
		<li>
			Only name or date changes will be accepted in writing, until <strong>April 23rd, 2018</strong> after this date no changes will be accepted.
		</li>
		<li>
			In case of early departures, the entire stay will be charged.
		</li>
		<li>
			<strong>No Show:</strong> If you do not show up at the hotel on the indicated date, it will cause the cancellation of your reservation and the entire stay charge.
		</li>
		<li>
			Please send us your phone number or e-mail for questions and / or clarifications
		</li>
	</ol>
</div>	