{% extends "layout.twig" %}

{% block content %}
<div class="block-page">
  <div class="container clearfix">
    <h2 class="text-uppercase text-center color-orange">Actividades</h2>
    <div class="devider">
      <i class="ti-map"></i>
    </div>
    <div class="bg-secondaryd">
      <div class="row">
        <div id="actis" class="col-sm-12 col-md-12 col-xs-12">
          <div class="alert alert-info">
            <small>ACTIVIDADES : ESTAS ACTIVIDADES SON OPCIONALES PARA LOS DIAS VIERNES Y SABADO , Y EL COSTO DEBERA SER CUBIERTO POR CADA PARTICIPANTE EN CASO DE SELECCIONAR ALGUNA.</small>
          </div>
        </div>        
      </div>
    	<div class="panel-group flat-accordion" id="accordion" role="tablist" >
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title  text-uppercase clearfix">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                <i class="ti-arrow-circle-right"></i> Paseo al atardecer, CATAMARÁN
              </a>
              <span class="pull-right color-primary"></span>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-justify">
										Usted disfrutará de una mágica e inolvidable experiencia al presenciar la espectacular puesta de Sol en Los Cabos! Saliendo desde el Muelle de Cabo San Lucas y  recorriendo la playa del Médano disfrutará de la hermosa vista de sus Hoteles, el famoso Arco de Cabo  San Lucas, la colonia de lobos marinos, la playa del amor y las impresionantes formaciones rocosas creando el escenario perfecto para compartir. Este Catamarán se diseño pensando en el medio ambiente, en la seguridad y comodidad de sus pasajeros, y grupos de hasta 45 personas, cuenta con baños muy amplios y cómodos ,  amplias y confortables cubiertas y áreas con sol y sombra desde las cuales podrá disfrutar de vistas inigualables, así como podrá bailar, comer o solo relajarse y disfrutar del paso. La puesta del sol marcará el término un recorrido que jamás olvidara. 	
                  </p>
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Información general:</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Duración del tour: 2 horas</li>
                    <li><i class="ti-control-record ic-list"></i> Horario recomendado por la tarde : 17:00 a 19:00 Hrs</li>
                    <li><i class="ti-control-record ic-list"></i> Capacidad máxima: 45  personas</li>
                  </ul>
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Incluye:</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Guacamole, totopos y salsa mexicana.</li>
                    <li><i class="ti-control-record ic-list"></i> Barra libre nacional.</li>
                  </ul>                  
                  <div class="white-space-20"></div>
                  <p class="text-justify">
                  	Precio por persona en tour Privado : <b>$  1,337.05 pesos.</b><br>
                  	* Precios en pesos incluyen  IVA
                  </p>
                </div>
                <div class="col-sm-6">
                  <div class="box-line">
                  	<img src="assets/img/catamaranes.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title  text-uppercase clearfix">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" >
                <i class="ti-arrow-circle-right"></i> Yates para pesca
              </a>
              <span class="pull-right color-primary"></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Medio día 5 horas de pesca.</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Precio por  persona <b>$ 7,630.26</b>  ( máximo 4 personas por bote) </li>
                  </ul>
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Incluye:</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Box lunch</li>
                    <li><i class="ti-control-record ic-list"></i> Bebidas ( agua, refresco y cerveza, hielo )</li>
                    <li><i class="ti-control-record ic-list"></i> Licencia de pesca deportiva</li>
                    <li><i class="ti-control-record ic-list"></i> Carnada viva</li>
                  </ul>                  
                  <div class="white-space-20"></div>
                  <p class="text-justify">
                  	* Precios en pesos incluyen  IVA
                  </p>                  
                </div>
                <div class="col-sm-6">
                  <div class="box-line">
                  	<img src="assets/img/yates.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title  text-uppercase clearfix">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" >
                <i class="ti-arrow-circle-right"></i> Safari y Camellos
              </a>
              <span class="pull-right color-primary"></span>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                	<p class="text-justify">
                		La actividad de Safari y Camellos es una eco-aventura simplemente inolvidable. Los llevaremos en vehículos Unimogs a descubrir el corazón de Baja, en un viaje lleno de maravillas por disfrutar.  Espectaculares escenarios, guías expertos en la región, deliciosa comida y un emocionante paseo en camello por la playa del Rancho San Cristóbal hacen de esta aventura la más exclusiva de toda la región. Durante los meses de invierno pon mucha atención ya que puedes ver ballenas Jorobadas. Explore un impresionante cañón y playas de aguas claras, también aprenda a cerca de las tortugas marinas que desovan en esta playa protegida.
                	</p>
                  <div class="white-space-10"></div>
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Incluye:</h5>
                  <p class="text-justify">
                  	3 horas de aventura, excelentes guías, experiencia en el desierto al aire libre, paseo por la naturaleza, comida completa, cata de tequila y elaboración de tortilla, presentación de tortugas, agua embotellada y cerveza. Disfrute de una degustación de tequila, aprenda hacer tortillas frescas y pruebe nuestro delicioso buffet mexicano. 
                  </p>                 
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Información General:</h5>
                  <p class="text-justify">
                  	Horario: 09:00, 12:00 y 15:00 Hrs.<br>
                  	Se recomienda llevar ropa fresca, tenis o zapatos cómodos, suéter ligero (en invierno), protector solar.
                  </p>
                  <h5 class="color-dark">Restricciones:</h5>
                  <p class="text-justify">
                  	Edad Mín.: 5 años, Peso Máximo: 120 kg y mujeres embarazadas no pueden participar en este tour.
                  </p>
                  <h5 class="color-dark">Capacidades por horario:</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Sin circuito : 84 pax por horario</li>
                    <li><i class="ti-control-record ic-list"></i> Con circuito mínimo 85 pax por horario y 200 máximo al día.</li>
                  </ul>
                  <div class="white-space-20"></div>
                  <p class="text-justify">
                  	Precio por persona : <b>$ 1,830.73</b> 
                  </p>                                                   
                </div>
                <div class="col-sm-6">
                  <div class="box-line">
                  	<img src="assets/img/touCamellos.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title  text-uppercase clearfix">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" >
                <i class="ti-arrow-circle-right"></i> TORNEO DE GOLF LA OPEN
              </a>
              <span class="pull-right color-primary"></span>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                	<p class="text-justify">
                		Con las más inspiradoras vistas hacia montañas, colinas y el mar, Puerto Los Cabos, constituye el escenario perfecto para disfrutar del diseño de dos famosas leyendas del golf. De acuerdo a los planes originales, Puerto Los Cabos anuncia la apertura de sus primeros 18 hoyos siendo estos una combinación única en el mundo con 9 hoyos de Jack Nicklaus y 9 hoyos de Greg Norman. En este campo nuestros jugadores tendrán la oportunidad de experimentar la diferencia entre la filosofía de los diseños de 2 de los mejores diseñadores de campos de Golf del mundo.
                	</p>
                  <div class="white-space-10"></div>
                  <p class="text-justify">
                  	Ronda de golf de 07:00 a 13:20 Hrs. <b>$ 6,496.49</b> por persona.<br>
                    Solo Informativo<br>
                    Renta de Equipo  incluye (palo y pelotas):<b> $ 1,185.00</b>
                  </p>                 
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Green Fee Incluye:</h5>
                  <p class="text-justify">
                  	18 hoyos, un carrito compartido por ronda de golf (con GPS), uso del área de práctica previo a la ronda y agua embotellada y solo en Puerto Los Cabos incluye cuatro estaciones de alimentos y bebidas.
                  </p>
                  <div class="white-space-20"></div>
                  <p class="text-justify">
                  	* Precios en pesos incluyen  IVA 
                  </p>                                                   
                </div>
                <div class="col-sm-6">
                  <div class="box-line">
                  	<img src="assets/img/golfCabos.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title  text-uppercase clearfix">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" >
                <i class="ti-arrow-circle-right"></i> Razor's
              </a>
              <span class="pull-right color-primary"></span>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                	<p class="text-justify">
                		En Baja California Sur, nace un nuevo concepto de diversión tipo off road! El tour da inicio en el área de Migriño al norte de cabo San Lucas partiendo de la locación, manejaremos durante aproximadamente 2 horas y media a través de caminos entre cerros, arroyos, cañadas y montañas.. donde estaremos en contacto directo con la  naturaleza propia de la región incluyendo su flora y fauna…! Minutos mas tarde  nos dirigimos hacia la playa “Migriño” en donde durante dicho recorrido tendremos la oportunidad de observar los caprichos de la naturaleza: una roca de mas de 200 toneladas de peso, sostenida por un árbol de aproximadamente 150 años de vida, ambos testigos de la evolución de la península de Baja California Sur.  Para la ultima parte del tour, nos detendremos en el mirador el cual se encuentra ubicado a mas de 150 mts de altura, en donde tendremos la oportunidad de disfrutar del maravilloso paisaje del valle de Migriño incluyendo sus playas y montañas sin dejar de mencionar la espectacular puesta del sol..!
                	</p>
                  <div class="white-space-10"></div>
                  <h5 class="color-dark">Información general:</h5>
                  <p class="text-justify">
                  	Duración: 2.5 Horas
                  </p>
                  <h5 class="color-dark">Incluye:</h5>
                  <ul class="list-unstyled list-with-icon">
                    <li><i class="ti-control-record ic-list"></i> Botellas de Agua</li>
                    <li><i class="ti-control-record ic-list"></i> Seguro de gastos médicos</li>
                    <li><i class="ti-control-record ic-list"></i> Precio por vehículo Sportman Ace 1 persona <b>$ 6,359.76</b></li>
                    <li><i class="ti-control-record ic-list"></i> Precio por vehículo Razor´s doble <b>$ 8,738.62</b></li>
                    <li><i class="ti-control-record ic-list"></i> Entrada al parque</li>
                    <li><i class="ti-control-record ic-list"></i> Seguro de colisión por vehículo</li>
                  </ul>                  
                  <div class="white-space-20"></div>
                  <p class="text-justify">
                  	* Precios en pesos incluyen  IVA 
                  </p>                                                   
                </div>
                <div class="col-sm-6">
                  <div class="box-line">
                  	<img src="assets/img/razor-tour.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

    	</div>
    </div>
  </div>
</div>	
{% endblock %}