{% extends "layout.twig" %}

{% block content %}
<div class="block-page">
  <div class="container clearfix">
    <h2 class="text-uppercase text-center color-orange">Hospedaje</h2>
    <div class="devider">
      <i class="ti-package"></i>
    </div>
    <div class="bg-secondaryd">
    </div>
  </div>
</div>	
{% endblock %}