{% extends "layout.twig" %}

{% block content %}
<div class="block-page">
  <div class="container clearfix">
    <h2 class="text-uppercase text-center color-orange">Agenda</h2>
    <div class="devider">
      <i class="ti-layout-accordion-list"></i>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <table class="table table-condensed table-bordereds">
        <thead>
          <tr>
            <th class="text-center text-uppercase azul-navi">
              Fecha
            </th>
            <th class="text-center text-uppercase azul-navi">
              Horario
            </th>
            <th class="text-center text-uppercase azul-navi">
              Actividad
            </th>                        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" class="text-center"><b>JUEVES 18 DE MAYO</b></td>
            <td class="text-center">8:00 - 18:00</td>
            <td class="text-justify">Bienvenida y Registro ( Lobby del Hotel )</td>
          </tr>
          <tr>
            <td class="text-center">19:00-20:00</td>
            <td class="text-justify">Coctel ( Terraza del Mar)</td>
          </tr>
          <tr>
            <td class="text-center">20:00-23:00</td>
            <td class="text-justify">Cena ( Restaurante PIAF )<br><ul class="list-unstyled sangria-10"><li>Código de Vestimenta : Casual - Playa</li></ul></td>
          </tr>
          <tr>
            <td rowspan="4" class="text-center"><b>VIERNES 19 DE MAYO</b></td>
            <td class="text-center">7:00 - 10:00</td>
            <td class="text-justify">Desayuno (libre)</td>
          </tr>
          <tr>
            <td class="text-center">8:45 -14:30</td>
            <td class="text-justify">Sesión de Trabajo (H: Salón Ambassador) (M: Mañana libre / SPA)<br>Comida (Restaurante Azul, Velas 10 y Cabrilla) y Tarde Libre</td>
          </tr>
          <tr>
            <td class="text-center">19:30 -20:30</td>
            <td class="text-justify">Cata de vinos ( Restaurante Autor ) Sommelier: Pedro Poncelis</td>
          </tr>
          <tr>
            <td class="text-center">20:30 -24:00</td>
            <td class="text-justify">Cena ( Restaurante de Autor )<br><ul class="list-unstyled sangria-10"><li>Código de Vestimenta : H: Camisa Blanca, pantalón beige o negro. M: Vestido Blanco</li><ul></td>
          </tr>
          <tr>
            <td rowspan="4" class="text-center"><b>SABADO 20 DE MAYO</b></td>
            <td class="text-center">7:00 - 10:00</td>
            <td class="text-justify">Desayuno (Libre)</td>
          </tr>
          <tr>
            <td class="text-center">7:30-15:00</td>
            <td class="text-justify">Torneo de Golf Asociasión ( Campo Puerto los Cabos )<br>(M: Mañana Libre / SPA)<br>Comida (Restaurante Azul, Velas 10 y Cabrilla) y Tarde Libre</td>
          </tr>
          <tr>
            <td class="text-center">19:00 a 20:00</td>
            <td class="text-justify">Coctel (Bar KOI)</td>
          </tr>
          <tr>
            <td class="text-center">20:30 -24:00</td>
            <td class="text-justify">Cena -Show de Clausura ( Salon Ambassador )</td>
          </tr>
          <tr>
            <td  class="text-center"><b>DOMINGO 21 DE MAYO</b></td>
            <td class="text-center" colspan="2">Salida de convecionistas</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>	
{% endblock %}