<div class="form-group row">
  <label for="mesa" class="col-md-2 col-form-label">Mesa</label>
  <div class="col-md-10">
    <input class="form-control" type="text" value="{{ reg.mesa }}" id="mesa" name="mesa" required>
  </div>
</div>
<div class="form-group row">
  <label for="silla" class="col-md-2 col-form-label">Silla</label>
  <div class="col-md-10">
    <input class="form-control" type="text" value="{{ reg.silla }}" id="silla" name="silla" required>
  </div>
</div>
<div class="form-group ocultos">
  <input class="form-control" type="hidden" value="{{ reg.id_upfront }}" id="idm" name="idm" required>
</div>