<div id="fsreg">
  <div class="form-group row">
    <label for="mesa" class="col-md-3 col-form-label">Nombre</label>
    <div class="col-md-9">
      <input class="form-control" type="text" value="" id="nombre" name="nombre" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="mesa" class="col-md-3 col-form-label">Apellidos</label>
    <div class="col-md-9">
      <input class="form-control" type="text" value="" id="apellidos" name="apellidos" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="mesa" class="col-md-3 col-form-label">Correo</label>
    <div class="col-md-9">
      <input class="form-control" type="email" value="" id="correo" name="correo" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="mesa" class="col-md-3 col-form-label">Mesa</label>
    <div class="col-md-3">
      <input class="form-control" type="text" value="" id="mesa" name="mesa" required>
    </div>
    <label for="mesa" class="col-md-3 col-form-label">Silla</label>
    <div class="col-md-3">
      <input class="form-control" type="text" value="0" id="silla" name="silla" required readonly>
    </div>    
  </div>
  <div class="form-group row">
    <div class="col-md-8">
    <span class="text-danger" id="msg"></span>
    </div>
    <div class="col-md-4" align="center">
      <a class="btn waves-effect waves-light btn-info text-white regnew">Guardar</a>
    </div>
  </div>       
</div>