{% extends "layouts/michelin20/michelin__layout.twig" %}
{% block content %}
<section id="sinicio">
  <div class="container">
    <div class="flat-spacer clearfix" data-desktop="40" data-mobile="20" data-smobile="20" ></div>
    <div class="flat-title text-center v3">
        <h5 class="heading text-uppercase">{{ title }}</h5>
    </div>
    <div id="sede" class="mg-bottom-30">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="flat-title v5 text-left mg-bottom-20">
            <h4>Estimado Distribuidor:</h4>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="flat-textbox style1 flat-border-bottom mg-top-10">
            <div class="testimonial style1 v2">
              <blockquote>
                <p align="justify" class="mg-bottom-10">
                  Reciba un cordial saludo y nuestro agradecimiento por su contribución y esfuerzo en este año 2019. Al continuar trabajando en equipo estamos seguros de queseguiremos creciendo y logrando nuestros objetivos de manera exitosa.
                <p align="justify" class="mg-bottom-20">
                  <span class="text-info">Aprovechamos la presente para invitarlo al Simposio Alliance 2020.</span>
                </p>
                <p align="justify" class="mg-bottom-20">
                Lunes 10 al jueves 13 de febrero del 2020
                </p>
                <p class="mg-bottom-10 clearfix">
                  <div class="wrap-btnt" align="right">
                    <a href="https://webapps.tycgroup.com/assets/descargas/InvitacionSaveTheDateSimposioAlliance2020.pdf" target="_blank" class="flat-button bg-read-more v3">Leer más</a>
                  </div>
                </p>
              </blockquote>
              <div class="customer-info row">
                <div class="col-sm-12 col-md-6 col-lg-6" alig="left">
                  <h5 class="name"><a href="#" class="hover-text">Luis Magaña</a></h5>
                  <p class="position">Director Ventas B2C</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" align="right">
                  <h5 class="name"><a href="#" class="hover-text">Máximo Mateos</a></h5>
                  <p class="position">Director de Ventas B2B</p>
                </div>                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
