{% extends "layouts/michelin20/michelin__layout.twig" %}
{% block content %}
<section id="spago">
  <div class="container">
    <div class="flat-spacer clearfix" data-desktop="40" data-mobile="20" data-smobile="20" ></div>
    <div class="flat-title text-center v3">
        <h5 class="heading text-uppercase">{{ title }}</h5>
    </div>
    <div id="vuelos" class="mg-bottom-30">
      <div class="col-12 col-sm-12 col-md-6 col-lg-12">
        <h5 class="heading mg-top-20  mg-bottom-20 flat-border-bottom pd-bottom-10">Formatos de pago</h5>
        <div class="clearfix mg-bottom-20">
          <a href="https://webapps.tycgroup.com/assets/descargas/CARTA_DE_AUTORIZACION.docx" download class="btn-effect vm btn-submit mi-yellow-bg mi-blue-text"><i class="far fa-file-word"></i> Carta de aprobación</a>
          <a href="https://webapps.tycgroup.com/assets/descargas/CARTA_DE_AUTORIZACION.pdf" download class="btn-effect vm btn-submit mi-yellow-bg mi-blue-text"><i class="far fa-file-pdf"></i> Carta de aprobación</a>
        </div>
        <div class="video-list list clearfix">
          <ul class="list">
            <li>Para realizar el cobro , deberán enviar su formato para cobro al correo de contacto</li>
            <li class="text-danger">Nota importante: El costo por habitación sencilla  por noche la cual ya incluye impuestos es de $ 8,253 (Favor de sumar el número de noches, por las cuales se estarán hospedando para completar la línea por “el monto de”  en el formato)</li>
            <li>
              <strong>La factura se realizara al siguiente RFC</strong><br>
              MICHELIN MEXICO SERVICES SA DE CV<br>
              AV. 5 DE FEBRERO 2115-BIS . FRACCIONAMIENTO INDUSTRIAL BENITO JUÁREZ QUERETARO<br>
              QUERÉTARO<br>
              R.F.C.: MMS920128TS3<br>
              C.P. 76120 TEL.: (442) 296-1642
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h5 class="heading mg-top-20  mg-bottom-20 flat-border-bottom pd-bottom-10">CONTACTO:</h5>
        <ul class="list-unstyled fa-ul flat-border-bottom">
          <li><span class="fa-li text-info" ><i class="far fa-user"></i></span> Mariela Arellano | Gerente de Reservaciones</li>
          <li><span class="fa-li text-info" ><i class="far fa-envelope"></i></span> <a href="mailto:marellano@tycgroup.com">marellano@tycgroup.com</a> </li>
          <li><span class="fa-li text-info" ><i class="fas fa-phone"></i></span> +52 55 5148 7511 </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}

