{% extends "layouts/michelin20/michelin__layout.twig" %}
{% block content %}
<section id="sinicio">
  <div class="container">
    <div class="flat-spacer clearfix" data-desktop="40" data-mobile="20" data-smobile="20" ></div>
    <div class="flat-title text-center v3">
        <h5 class="heading text-uppercase">{{ title }}</h5>
    </div>
    <div id="sede">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="flat-title v5 text-left mg-bottom-20">
            <h4>Estimado Distribuidor:</h4>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="flat-textbox style1 flat-border-bottom mg-top-10">
            <div class="testimonial style1 v2">
              <blockquote>
                <p align="justify" class="mg-bottom-10">
                  Reciba un cordial saludo y nuestro agradecimiento por su contribución y esfuerzo en este año 2018. Al continuar trabajando en equipo estamos seguros que seguiremos creciendo y logrando nuestros objetivos de manera exitosa.
                </p>
                <p align="justify" class="mg-bottom-20">
                  Aprovechamos la presente para invitarlo al primer Simposio Alliance 2019. De acuerdo a sus recomendaciones y sugerencias, hemos modificado a partir de este año el formato de la agenda y las exposiciones, a través de talleres donde buscamos fortalecer el intercambio de iniciativas e ideas para enriquecer la Red Alliance.
                </p>
                <p class="mg-bottom-10 clearfix">
                  <div class="wrap-btnt" align="right">
                    <a href="https://webapps.tycgroup.com/assets/descargas/ConvencionAlliance2019.pdf" target="_blank" class="flat-button bg-read-more v3">Leer más</a>
                  </div>
                </p>
              </blockquote>
              <div class="customer-info">
                <h5 class="name"><a href="#" class="hover-text">Philippe Ponsignon</a></h5>
                <p class="position">Director de Ventas México</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
