{% extends "layouts/michelin20/michelin__layout.twig" %}
{% block content %}
<section id="sinicio">
  <div class="container">
    <div class="flat-spacer clearfix" data-desktop="40" data-mobile="20" data-smobile="20" ></div>
    <div class="flat-title text-center v3">
        <h5 class="heading text-uppercase">{{ title }}</h5>
    </div>
    <!--<div id="vuelos" class="mg-bottom-30">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class=" video-list list clearfix">
            <ul class="list">
              <li><strong>SEDE:</strong> CUN</li>
              <li><strong>FECHAS DEL EVENTO:</strong> Del 24/02/2019 al 28/02/2019</li>
              <li><strong>VIGENCIA PARA VIAJAR:</strong> Del 19/02/2019 al 05/03/2019</li>
              <li><strong>PERIODO DE VENTA Y EMISION DE BOLETOS:</strong> Del 09/01/2019 al 05/03/2019</li>
              <li><strong>CLAVE DEL SEMINARIO:</strong> IT9MXRC00093C</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h5 class="heading mg-top-20  mg-bottom-20 flat-border-bottom pd-bottom-10">OBSERVACIONES:</h5>
          <div class=" video-list list clearfix">
            <ul class="list">
              <li>DESCUENTO VUELOS DENTRO DE LA REPÚBLICA MEXICANA: 12% EN Q,T,E,N,R., 10% EN U,K,H,L., 05% EN J,C,D., EN CLASES: I,Y,B,M NO APLICA DESCUENTO.</li>
              <li class="top-ini">DESCUENTO VUELOS INTERNACIONALES PARA RESTO DEL MUNDO, EXCEPTO, MÉXICO Y USA: 10% EN J,C,Y,B,M., 05% EN D,I,U,K,H,L,Q., 3% EN T., EN CLASES: E, N, NO APLICA DESCUENTO.
                <ul class="list-unstyled">
                  <li>APLICAN TODOS LOS VUELOS DE AM Y OPERADOS POR AM.</li>
                  <li>NO APLICAN VUELOS CON CÓDIGO COMPARTIDO.</li>
                  <li>RESERVACION Y VENTA EN: AGENCIA TURISMO Y CONVENCIONES</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h5 class="heading mg-top-20  mg-bottom-20 flat-border-bottom pd-bottom-10">INFORMACIÓN ADICIONAL:</h5>
          <div class=" video-list list clearfix">
            <ul class="list">
              <li>EL DESCUENTO APLICA AL MOMENTO DE LA EXPEDICIÓN DEL BOLETO.</li>
              <li>INTERESADOS PRESENTAR CARTA / INVITACIÓN / FICHA DE INSCRIPCIÓN.</li>
              <li>LOS BOLETOS EMITIDOS CON RUTAS DENTRO DE MEXICO, USA Y CANADA, TIENEN RESTRICCIÓN PARA CAMBIOS DE NOMBRE.</li>
              <li>EN CASO DE QUE SE REALICE UN CAMBIO DE FECHA U HORARIO SE APLICARAN LOS CARGOS POR CAMBIO CORRESPONDIENTES A LA REGLAMENTACIÓN TARIFARIA, ASÍ COMO LA DIFERENCIA DE TARIFA EN CASO DE QUE NO EXISTA LA CLASE RESERVADA ORIGINALMENTE.</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h5 class="heading mg-top-20  mg-bottom-20 flat-border-bottom pd-bottom-10">CONTACTO:</h5>
          <ul class="list-unstyled fa-ul flat-border-bottom">
            <li><span class="fa-li text-info" ><i class="far fa-user"></i></span> Patricia González | Asesoría en viajes </li>
            <li><span class="fa-li text-info" ><i class="far fa-envelope"></i></span> <a href="mailto:pgonzalez@tycgroup.com">pgonzalez@tycgroup.com</a> </li>
            <li><span class="fa-li text-info" ><i class="fas fa-phone"></i></span> +52 55 5148 7578</li>
          </ul>
        </div>
    </div>-->
  </div>
</section>
{% endblock %}

