body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .c-layout-page {
    flex: 1 0 auto;
  }


.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.c-layout-header-fixed .c-layout-page {
    margin-top: 120px;
}


@media (min-width: 992px) {
  .c-page-on-scroll.c-layout-header-fixed .c-layout-header {
    height: 90px;
  }
}

.c-text{
  font-weight: bolder;
}


.c-content-box.c-size-md {
    padding: 20px 0;
}

.no-link{
  cursor: default;
}

.no-link:hover{
  background-color: #fff !important;
}

.c-content-tab-3 > .c-tab-content {
    padding: 15px 0 60px;
}

address {
  font-size: 14px;
}

.tomato{
  border:1px solid tomato;
}

.c-layout-footer.c-layout-footer-3 .c-prefooter {
    padding: 20px 0 20px;
}

.c-content-title-3.c-title-sm > h3.c-font-uppercase {
    font-size: 14px;
}

.c-content-title-3{
   font-size: 13px;
}

.table > thead > tr > th {
  font-size: 16px;
} 

.table > tbody >tr> td{
  font-size: 14px;
} 

.cbp .cbp-item{
  position: static;
}

.center-block-i {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.c-layout-header .c-mega-menu .event-inverse {
  display: none;
}

.c-page-on-scroll.c-layout-header-fixed .c-mega-menu .event-inverse {
  display: block;
}