<div id="politicas">
    <h3>POLITICAS DE RESERVACIÓN PARA INDIVIDUALES</h3>
    <p>
        Por favor siga las instrucciones para confirmar su reservación:
    </p>
    <p>
        Para que su reservación sea confirmada deberá realizar lo siguiente:
    </p>
    <p>
        <ul class="c-content-list-1 c-theme c-separator-dot">
            <li  class="c-bg-before-blue">1.- Llenar su formato de reservación, sin olvidar atender las políticas marcadas.</li> 
				<li  class="c-bg-before-blue">2.- Efectuar el pago del Paquete Seleccionado al momento de hacer su reservación, en alguna de las siguientes formas de pago:
					<ul>
						<li>Depósito o cheque: a nombre de Turismo y Convenciones S.A. de C.V. (Bancomer cta. no. 447334168 plaza 001 Nápoles, México D.F.). </li>
						<li>Tarjetas de crédito Visa, Master Card y American Express, llamando a los teléfonos 52 (55) 51 48 75 09, 52 (55) 51487511 y/o al 52 (55) 517569., o en la página web del evento.</li>
						<li>Consultar condiciones”.</li>
					</ul>
				</li>  
                <li  class="c-bg-before-blue">3.- Enviar el comprobante de pago especificando su nombre completo y el nombre del evento: “XIV Congreso Internacional de Pediatría “Monterrey 2017” y el XXI Simposio de Investigación en Pediatría “Dr. Don Joaquín Cravioto Muñoz” al fax 52 (55) 5148 20 13. Por correo electrónico a: marellano@tcevents.com</li> 
                <li  class="c-bg-before-blue">4.- El depósito de su paquete NO ES REEMBOLSABLE y se utilizará como cargo de penalidad en caso de no show o cancelación extemporánea.</li> 
                <li  class="c-bg-before-blue">5.- Sólo se aceptarán cancelaciones por escrito hasta el día 14 de Abril de 2017 haciendo el reembolso del depósito recibido. En caso de no realizar este trámite, se hará el cargo por concepto de cancelación extemporánea (Estancia Completa).</li> 
                <li  class="c-bg-before-blue">6.- Sólo se aceptarán cambios de nombre y fecha por escrito, hasta el día 14 de Abril de 2017, posteriormente a esta fecha, no se aceptarán cambios.</li> 
                <li  class="c-bg-before-blue">7.- Después del 14 de Abril de 2017, para cualquier cancelación aplicará el cargo de la Estancia Completa.</li> 
                <li  class="c-bg-before-blue">8- En caso de salidas anticipadas se realizará el cargo de la Estancia Completa.</li>
                <li  class="c-bg-before-blue">9.- No Show: Si usted no se presenta en el hotel en la fecha indicada, causará la cancelación de su reservación y el cargo de la Estancia Completa.</li> 
                <li  class="c-bg-before-blue">10.- Favor de enviarnos su número telefónico o e-mail para dudas y/o aclaraciones.</li>
		</ul>
    </p>
    <h3>
        POLITICAS DE RESERVACIÓN PARA GRUPOS
    </h3>
    <p>
        Por favor siga las instrucciones para confirmar su reservación:
    </p>
    <p>
        Para que su reservación sea confirmada deberá realizar lo siguiente:
    </p>
    <p>
        <ul class="c-content-list-1 c-theme c-separator-dot">
            <li  class="c-bg-before-blue">1.- Solicitar bloqueo, especificando el número de habitaciones requeridas. </li>
            <li  class="c-bg-before-blue">
                2.- Realizar el pago del 50% del total del bloqueo de habitaciones, en alguna de las siguientes formas de pago:
                    <ul>
                        <li>Depósito o Transferencia a nombre de Turismo y Convenciones, S.A. de C.V. Bancomer cta. 0447334168 Plaza 001 Suc.0843/ Cuenta Clabe 012 180 004 473 341 682. </li>
                        <li>Tarjetas de crédito Visa, Master Card y/o American Express: llamando a los tels: 52 (55) 51 48 75 09, 52 (55) 51487511 y/o al 52 (55) 517569.</li>
                    </ul> 
            </li>
            <li  class="c-bg-before-blue">3.- Enviar el comprobante de pago especificando su nombre y el nombre del evento: Por fax 52 (55) 5148 20 13. Por correo electrónico a: marellano@tcevents.com Posteriormente llamar a los tels. 52 (55) 51 48 75 09 y 11 para confirmar recepción y recibir su número de reservación. </li>
            <li  class="c-bg-before-blue">4.- El saldo restante deberá ser liquidado a más tardar el día 14 de Abril de 2017. </li>
            <li  class="c-bg-before-blue">5.- La fecha límite para recibir el rooming list será hasta el 14 de Abril de 2017. </li>
            <li  class="c-bg-before-blue">6.- Sólo se aceptarán cancelaciones por escrito y no mayores al 5% del bloqueo original hasta el 14 de Abril de 2017, haciéndose el reembolso correspondiente. En caso de no realizar el trámite, se hará el cargo por concepto de cancelación extemporánea (100% del pago realizado). </li>
            <li  class="c-bg-before-blue">7.- Sólo se aceptaran cambios de nombre y fecha por escrito, hasta el día 14 de Abril de 2017 posteriormente a esta fecha no se aceptaran cambios. </li>
            <li  class="c-bg-before-blue">8- En caso de salidas anticipadas se realizara el cargo de la Estancia Completa. </li>
            <li  class="c-bg-before-blue">9.- No Show: Si usted no se presenta en el hotel en la fecha indicada, causará la cancelación de su reservación y el cargo de la Estancia Completa </li>
            <li  class="c-bg-before-blue">10.- Favor de enviarnos su número telefónico o e-mail para dudas y/o aclaraciones.</li>
        </ul>
    </p>                                        
</div>