<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h5 class="ui-title-block">La tarifa incluye:</h5>		
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 m-t-10">
      <ul class="list list-mark-1">
          <li>Uno</li>
          <li>Dos</li>
          <li>Tres</li>
      </ul>			
		</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h5 class="ui-title-block">Notas importantes:</h5>    
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10">
      <ul class="list list-mark-1">
          <li>Uno</li>
          <li>Dos</li>
          <li>Tres</li>
      </ul>     
    </div>    
</div>