{% extends "layouts/torneoNavistar/layout.twig" %}
{% block content %}
<div class="container-fluid">
  <section class="sec-padding">
    <div class="container">
      <div class="row">

        <div class="col-md-9 col-centered text-center">
          <h3 class="text-primary font-weight-4 raleway">5° Torneo de Golf Navistar</h3>
          <h4 class="text-dark font-weight-4 raleway">Puerto Vallarta, Jalisco - Enero 22 al 24, 2020</h4>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="clearfix"></div>
<section class="sec-padding section-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="text-box white padding-3">
          <h3 class="ce-sec-title font-weight-5 less-mar-1 text-center">MIÉRCOLES 22 DE ENERO</h3>
          <br />
          <h4 class="raleway text-center">Llegadas a Puerto Vallarta</h4>
          <p class="text-center">
            Registro en Hotel Marriot<br />
            7:30 – 11:00 pm.<br />
            Cocktail de bienvenida<br />
            Publicación de foursomes<br />
          </p>
          <br />
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-box white padding-1">
          <h3 class="ce-sec-title font-weight-5 less-mar-1 text-center">JUEVES 23 DE ENERO</h3>
          <br />
          <h4 class="raleway text-center">PATROCINADORES, EQ. DE ATENCIÓN A JUGADORES Y SATFF</h4>
          <p class="text-center">
            <ul class="list-unstyled">
              <li>5:00 am. Servicio de café, té y fruta en lobby del hotel</li>
              <li>5:30 am. Salida primer transporte hotel – campo</li>
              <li>6:30 am. Llegada a campo y asignación de carritos a Patrocinadores Diamante, traslado de
                patrocinadores Platino a hoyos, preparativos</li>
              <li>6:30 am. Salida de jugadores del hotel hacia campo</li>
              <li>7:30 am. Llegada a Campo</li>
              <li>7:30 am. Desayuno en Casa Club. Todos los asistentes</li>
              <li>8:30 am. Asignación de carritos y caddies</li>
              <li>8:50 am. Escopetazo de salida</li>
              <li>3:00 pm. Comida de premiación en y rifa (en campo)</li>
              <li>6:00 pm. Transporte al hotel</li>
              <li>7:00 pm. Llegada al hotel</li>
              <li>Noche libre</li>
            </ul>
          </p>
          <br />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="text-box white padding-3">
          <h3 class="ce-sec-title font-weight-5 less-mar-1 text-center">VIERNES 24 DE ENERO</h3>
          <br />
          <h4 class="raleway text-center">Desayuno en hotel</h4>
          <p class="text-center">
            Check out<br />
            Traslados Hotel – aeropuerto (todo el día)
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="sec-padding section-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
        <div class="icon-plain-msmall icon left white"><span class="fas fa-golf-ball"></span></div>
        <div class="text-box-right less-padding-1">
          <h4 class="text-white montserrat">Paquete Jugador  $17,800.00 mxp. (+ IVA)</h4>
          <p class="text-white opacity-8">
          <ul class="text-white opacity-8 iconlist">
            <li><i class="fa fa-check text-white"></i>2 Noches de hotel (hab. sencilla)</li>
            <li><i class="fa fa-check text-white"></i>Transportación terrestre local aeropuerto-hotel-campo-hotel-aeropuerto</li>
            <li><i class="fa fa-check text-white"></i>Cocktail de bienvenida</li>
            <li><i class="fa fa-check text-white"></i>Alimentos y bebidas premium durante el torneo</li>
            <ul>
            <li>Comida y cocktail día de llegada</li>
            <li>Desayuno, comida, snacks y bebidas el día del torneo</li>
            <li>Desayuno y comida el día del checkout</li>
            </ul>
            <li><i class="fa fa-check text-white"></i>Kit de jugador</li>
            <li><i class="fa fa-check text-white"></i>Green Fee</li>
            <li><i class="fa fa-check text-white"></i>Uso de instalaciones completas en campo</li>
            <li><i class="fa fa-check text-white"></i>1 carrito de golf durante el torneo por pareja</li>
            <li><i class="fa fa-check text-white"></i>Premiación</li>
            <li><i class="fa fa-check text-white"></i>Rifa</li>
          </ul>   
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
        <div class="icon-plain-msmall icon left white"><span class="fas fa-user"></span></div>
        <div class="text-box-right less-padding-1">
          <h4 class="text-white montserrat">Paquete No Jugador $14,800.00 mxp. (+ IVA)</h4>
          <p class="text-white opacity-8">
          <ul class="text-white opacity-8 iconlist">
            <li><i class="fa fa-check text-white"></i>2 Noches de hotel (hab. sencilla)</li>
            <li><i class="fa fa-check text-white"></i>Transportación terrestre local aeropuerto-hotel-campo-hotel-aeropuerto</li>
            <li><i class="fa fa-check text-white"></i>Cocktail de bienvenida</li>
            <li><i class="fa fa-check text-white"></i>Alimentos y bebidas durante el torneo</li>
            <ul>
            <li>Cocktail día de llegada</li>
            <li>Desayuno, comida, snacks y bebidas el día del torneo</li>
            <li>Desayuno y comida el día del checkout</li>
            </ul>
            <li><i class="fa fa-check text-white"></i>Kit de participante</li>
            <li><i class="fa fa-check text-white"></i>Traslados Aeropuerto – Hotel – Campo – Hotel – Aeropuerto</li>
          </ul>   
          </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom" align="center">
        <a class="btn btn-border border-1x btn-xround-more white btn-large uppercase" href="https://webapps.tycgroup.com/assets/files/Torneo_de_GoLf_Navistar.pdf" target="_blank">Más información</a>
      </div>      
    </div>
  </div>
</section>
{% endblock %}