{% extends "layouts/bfg17/layout.twig" %}

{% block content %}
<section class="section-wrap pb-20 pt-20">
	<div class="container">
		<div class="row">
		<div class="col-md-6 col-sm-6 center-block no-float">
			<div class="work-item hover-2">
				<div class="work-container">
					<img src="{{ asset('assets')}}/img/programa.png" class="ris img-responsive" align="center">
								<div class="work-overlay radius">
									<div class="project-icons">
										<a href="{{ asset('assets')}}/img/programa.png" class="lightbox-gallery" title=""><i class="fa fa-search"></i></a>
									</div>
								</div>						
				</div>
			<div class="work-item hover-2">
		</div>
		</div>	
	</div>
</section>
{% endblock %}