{% extends "layouts/alliance/allianceLayout_" ~ tmpl ~ ".twig.html" %}
{% block content %}	
<!--<section class="m-b-40 m-t-40">
  <div class="container">
    <div class="custom-heading section-heading">
      <h1>SEDE</h1>
    </div>
  </div>
</section>
<section class="our-company m-b-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div align="center">
          <h4 class="info-mi">SECRETS PUERTO LOS CABOS GOLF & SPA RESORT</h4>
        </div>
        <div class="description">
        	<a href="{{ asset('assets')}}/img/secretsCabos.jpg" data-fancybox="images">
        		<img class="img-responsive img-fluid" src="{{ asset('assets')}}/img/secretsCabos.jpg">
        	</a>
        </div>
        <div class="description">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
      	<div class="description">
      		<p>
      			Establecido en la costa del Pacifico dentro de la exclusiva comunidad de Puerto Los Cabos, Secrets Puerto Los Cabos Golf & Spa Resorts, un resort AAA Cuatro Diamantes, que provee la última escapada para <strong>solo adultos</strong> con <a href="http://www.secretsresorts.com.mx/puerto-los-cabos/luxury" target="_blank">Unlimited-Luxury®</a>
      		</p>
      		<hr>
      		<p>
      			Avenida Paseo de los Pescadores S/N, La Playita<br>
						San Jose del Cabo<br>
						Baja California Sur<br>
						México C.P. 23400<br>
      		</p>
      		<hr>
      	</div>
      </div>
    </div>
  </div>
</section>
<section class="maps m-t-30">
  <div class="col-lg-12 col-md-12 col-sm-12">
  	<div id="map-canvas" class="thememove-gmaps" data-address="23.364941,-109.659374" data-height="480" data-width="100%" data-zoom_enable="" data-zoom="8" data-map_type="roadmap" data-map_style="style1"></div>
  </div>	
</section>--> 
{% endblock %}