{% extends "layouts/kickoff19/kickoff19Layout.twig" %}
{% block content %}
<section class="flat-projects clearfix mg-top-40 mg-bottom-20">
  <div class="flat-imagebox isotope-project row">
    <div class="col-sm-12 col-md-6">
      <div class="imagebox style3 style3_full interior">
        <div class="imagebox-image ">
          <img src="{{ asset('assets')}}/img/iberoStar.png" alt="Iberostar Cancún">
          <div class="overlay"></div>
        </div>
        <div class="imagebox-content">
          <h3 class="heading"><a href="javascript:;">Iberostar Cancún</a></h3>
          <div class="meta-project">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="flat-title">
        <h2 class="title"> Iberostar Cancún</h2>
      </div>
      <div class="textbox-content">
        <p>
          Situado en el corazón turístico de Quintana Roo, este hotel de 5 estrellas con Todo Incluido y en primera línea de mar se halla a tan solo 15 minutos del Aeropuerto Internacional de Cancún. Con un emplazamiento privilegiado, instalaciones y servicios para toda la familia y un cuidado diseño, este moderno resort en Cancún es un sueño hecho realidad.
        </p>
        <p class="mg-top-20">
          <strong>Vive una experiencia culinaria insuperable:</strong> Descubre los sabores mexicanos tradicionales y muchos otros platos internacionales en los mejores buffets y restaurantes de especialidades de este resort de Cancún. Elige entre más de cinco opciones gastronómicas, que van desde la cocina francesa tradicional hasta la comida japonesa.
        </p>
        <p class="mg-top-20">
          <strong>Organiza la boda o el evento de tus sueños:</strong> Cualquier evento en el Iberostar Cancún, México, será simplemente inolvidable. Sus idílicas playas y la experiencia de los profesionales del hotel te brindarán una boda de cuento de hadas. Si necesitas organizar una conferencia, una presentación o un banquete, el Centro de Convenciones Península cuenta con cinco salas de reuniones, la mayor de ellas con capacidad para 2.000 asistentes. ¡Celebra tu día especial en la Riviera Maya!
        </p>
        <div class="widget widget-logo-info widget-text sidebar-right">
          <ul class="info">
            <li class="address"><a href="#" class="data-hover">Boulevard Kukulcan km. 17 CP: 77500, Cancún, México</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mg-bottom-20">
  <div class="row">
    <div class="col-md-12">
      <div class="flat-map"></div>
    </div>
  </div>
</div>

{% endblock %}
